*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    background-color: rgb(39, 21, 21);
    color: #fff;
}

Button{
    Background-color: red;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
}